<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Homm5RMG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
	<add key="MapEditorFilenName" value="MapEditor.exe"/>	
	<add key="DefaultTemplateFile" value="Jebus.irt"/>    
  </appSettings>
  <userSettings>
    <Homm5RMG.Properties.Settings>
      <setting name="DefaultDirectory" serializeAs="String">
        <value>C:\Program Files\Ubisoft\Heroes of Might and Magic V - Tribes of the East\Maps</value>
      </setting>
      <setting name="DefaultTemplateFile" serializeAs="String">
        <value>JebusV5.irt</value>
      </setting>
      <setting name="CompatibilityFactor" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="MonsterFactor" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="TemplateDirectory" serializeAs="String">
        <value>Templates</value>
      </setting>
      <setting name="LastUserCreatedMapName" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="MapEditorPath" serializeAs="String">
        <value>C:\Program Files\Ubisoft\Heroes of Might and Magic V - Tribes of the East\bin\H5_MapEditor.exe</value>
      </setting>
      <setting name="RandomSeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChaosWeeks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ToPlaySound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectedSizeIndex" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Density" serializeAs="String">
        <value>0.125</value>
      </setting>
      <setting name="DisableIT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RandomTemplate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TemplatesDirectory" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="AutoNameMap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RoadStatus" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DifferentFactions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactionRed" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FactionBlue" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DwellingStatus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OnlyPortals" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NoBlocks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SingleFactionGuards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactionGreen" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FactionYellow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SelectedFactionGuards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadHeroesList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LongestWay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NoNewHighDwelling" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NewBankGenerating" serializeAs="String">
        <value>True</value>
      </setting>
    </Homm5RMG.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
